<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    const socket = new WebSocket("ws://" + window.location.host + "/ws/chat/");

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        console.log("Message:", data.message);
    };

    socket.onopen = function() {
        socket.send(JSON.stringify({
            message: "Hello from browser"
        }));
    };
  </script>

</body>
</html>