Django==5.2
django-cors-headers==4.7.0
django-environ==0.12.0
django-paypal==2.1
djangorestframework==3.16.0
environ==1.0
google-auth
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
oauthlib==3.2.2
paypalrestsdk==1.13.3
social-auth-app-django==5.4.3
social-auth-core==4.6.1
whitenoise==6.10.0
PyPDF2==3.0.1
python-docx==1.2.0
docx2pdf==0.1.8
gunicorn==23.0.0
django-anymail==13.1
djangorestframework_simplejwt==5.5.1
daphne==4.2.1
channels==4.3.2
channels_redis==4.3.0
django-template-partials==25.3
psycopg2-binary
psycopg2
google-genai==1.62.0
celery==5.6.2

